n8n/workflow.json
{
  "name": "Claude Code PR Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "#3対策: 静的な値を使用。変更する場合はここを手動で編集"
    },
    {
      "parameters": {
        "jsCode": "const repos = ($env.GITHUB_REPOS || '').split(',').map(r => r.trim()).filter(Boolean);\nif (repos.length === 0) return [];\nreturn repos.map(repo => ({ json: { repo } }));"
      },
      "name": "RepoList",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst githubToken = $env.GITHUB_TOKEN;\nif (!githubToken) throw new Error('GITHUB_TOKEN が設定されていません');\n\nfunction githubGet(path) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: 'api.github.com',\n      path: path,\n      method: 'GET',\n      headers: {\n        'Authorization': 'token ' + githubToken,\n        'Accept': 'application/vnd.github.v3+json',\n        'User-Agent': 'claude-pr-review'\n      }\n    }, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch(e) { reject(e); }\n      });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\nconst results = [];\nfor (const item of $input.all()) {\n  const repo = item.json.repo;\n  try {\n    const prs = await githubGet('/repos/' + repo + '/pulls?state=open&sort=updated&direction=desc&per_page=100');\n    if (Array.isArray(prs)) {\n      for (const pr of prs) {\n        results.push({ json: pr });\n      }\n    }\n  } catch (e) {\n    // APIエラー: スキップ（Filter で無視される）\n  }\n}\nif (results.length === 0) results.push({ json: {} });\nreturn results;"
      },
      "name": "GitHubAPI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Draft除外 + レビュアーフィルタ + 重複防止 + tracked管理\nconst staticData = $getWorkflowStaticData('global');\nconst reviewed = staticData.reviewed || {};\nconst tracked = staticData.tracked || {};\nconst newPRs = [];\nconst inProgress = staticData._inProgress || {};\n\n// 連続失敗3回でレビュー一時停止（トークン切れ等の全体障害対策）\nconst consecutiveFailures = staticData._consecutiveFailures || 0;\nif (consecutiveFailures >= 3) {\n  // 2.5時間経過で自動復帰\n  const pausedAt = staticData._pausedAt || 0;\n  if (Date.now() - pausedAt < 2.5 * 60 * 60 * 1000) return [];\n  staticData._consecutiveFailures = 0;\n  delete staticData._pausedAt;\n}\n\nconst targetReviewers = ($env.GITHUB_REVIEWERS || '').split(',').map(r => r.trim()).filter(Boolean);\nconst targetTeams = ($env.GITHUB_TEAMS || '').split(',').map(t => t.trim()).filter(Boolean);\n\n// #4対策: 今回のポーリングで見えたPRキーを記録\nconst seenKeys = new Set();\n// #12対策: 正常にAPIレスポンスを得たリポジトリを記録\nconst successRepos = new Set();\n\nfor (const item of $input.all()) {\n  const prs = Array.isArray(item.json) ? item.json : [item.json];\n\n  for (const pr of prs) {\n    if (!pr.number || !pr.head || !pr.base) continue;\n\n    const key = pr.base.repo.full_name + '#' + pr.number;\n    seenKeys.add(key);\n    successRepos.add(pr.base.repo.full_name);\n\n    if (pr.draft) continue;\n\n    const headSha = pr.head.sha;\n    const reviewers = (pr.requested_reviewers || []).map(r => r.login);\n    const teams = (pr.requested_teams || []).map(t => t.slug);\n    const noFilter = targetReviewers.length === 0 && targetTeams.length === 0;\n    const matchUser = targetReviewers.some(t => reviewers.includes(t));\n    const matchTeam = targetTeams.some(t => teams.includes(t));\n    const isAuthor = targetReviewers.includes(pr.user.login);\n    const isTracked = tracked[key] === true;\n\n    if (!noFilter && !matchUser && !matchTeam && !isAuthor && !isTracked) continue;\n    if (matchUser || matchTeam || isAuthor) tracked[key] = true;\n    // reviewed: sha文字列 or {sha,ts}オブジェクト両対応\n    const rev = reviewed[key];\n    const revSha = (rev && typeof rev === 'object') ? rev.sha : rev;\n    // 同じSHAならスキップ（失敗リトライ中で上限未満の場合は通過）\n    if (revSha === headSha) {\n      if (!(rev && rev.failed && (rev.retryCount || 0) < 3)) continue;\n    }\n\n    // レビュー実行中のPRはスキップ（flock解放〜reviewed記録の隙間対策）\n    if (inProgress[key]) continue;\n\n    newPRs.push({ json: {\n      number: pr.number, title: pr.title, body: pr.body || '',\n      head_ref: pr.head.ref, base_ref: pr.base.ref,\n      head_sha: headSha, repo_name: pr.base.repo.name,\n      repo_full_name: pr.base.repo.full_name,\n      html_url: pr.html_url, user: pr.user.login,\n      _key: key\n    }});\n  }\n}\n\n// #4 + #12対策: tracked/reviewed からクローズ済みPRを削除\n// ただし、正常にAPIレスポンスを得たリポのPRのみ対象\n// APIエラーのリポのPRは消さない（再レビュー暴走を防止）\nfor (const key of Object.keys(tracked)) {\n  const repoName = key.split('#')[0];\n  if (successRepos.has(repoName) && !seenKeys.has(key)) {\n    delete tracked[key];\n    delete reviewed[key];\n  }\n}\n// reviewed にのみ存在するキーもクリーンアップ\nfor (const key of Object.keys(reviewed)) {\n  if (tracked[key] !== undefined) continue; // tracked 側で処理済み\n  const repoName = key.split('#')[0];\n  if (successRepos.has(repoName) && !seenKeys.has(key)) {\n    delete reviewed[key];\n  }\n}\n\n// 30分以上前の inProgress を解除（レビューが異常終了した場合の救済）\nconst now = Date.now();\nfor (const k of Object.keys(inProgress)) {\n  if (now - inProgress[k] > 30 * 60 * 1000) delete inProgress[k];\n}\nstaticData.reviewed = reviewed;\nstaticData.tracked = tracked;\nif (newPRs.length === 0) return [];\nconst picked = newPRs[0];\ninProgress[picked.json._key] = Date.now();\nstaticData._inProgress = inProgress;\nreturn [picked];"
      },
      "name": "Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// #1対策: base64エンコードでシェルインジェクション防止\nconst pr = $input.first().json;\nconst payload = {\n  repo_name: pr.repo_name,\n  head_ref: pr.head_ref,\n  base_ref: pr.base_ref,\n  title: pr.title,\n  body: pr.body,\n  number: String(pr.number),\n  _key: pr._key,\n  head_sha: pr.head_sha,\n  html_url: pr.html_url,\n  user: pr.user\n};\nconst encoded = Buffer.from(JSON.stringify(payload)).toString('base64');\nreturn [{ json: { ...pr, encoded } }];"
      },
      "name": "PrepareInput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Claude Code でレビュー実行（非同期 - ワーカーブロック回避）\nconst { exec } = require('child_process');\nconst encoded = $input.first().json.encoded;\n\nreturn new Promise((resolve) => {\n  const child = exec(\n    `docker exec claude-review-runner bash /scripts/review.sh \"${encoded}\"`,\n    { timeout: 960000, maxBuffer: 10 * 1024 * 1024, encoding: 'utf-8' },\n    (error, stdout, stderr) => {\n      if (error) {\n        resolve([{ json: { stdout: stdout || error.message, exitCode: error.code || 1 } }]);\n      } else {\n        resolve([{ json: { stdout: stdout, exitCode: 0 } }]);\n      }\n    }\n  );\n});"
      },
      "name": "Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// レビュー成功時のみ reviewed にマーク\nconst staticData = $getWorkflowStaticData('global');\nconst reviewed = staticData.reviewed || {};\nconst rawInput = $input.first().json;\nconst rawStdout = (rawInput.stdout || '').trim();\nconst exitCode = rawInput.exitCode;\n\n// review.sh がクラッシュした場合（exitCode !== 0 かつ stdout が空/JSON以外）\nif (exitCode !== 0 && !rawStdout.includes('{')) {\n  const pr = $('Filter').item.json;\n  const slackChannel = $env.SLACK_CHANNEL || '#code-review';\n  const mentionIds = ($env.SLACK_MENTION || '').split(',').map(s => s.trim()).filter(Boolean);\n  const mention = mentionIds.length > 0 ? mentionIds.map(id => '<@' + id + '>').join(' ') + '\\n' : '';\n  const isReReview = !!reviewed[pr._key];\n  // クラッシュもreviewedに記録（retryCount上限で打ち切り）\n  const prevCrash = reviewed[pr._key];\n  const crashRetry = (prevCrash && prevCrash.failed && prevCrash.sha === pr.head_sha) ? (prevCrash.retryCount || 0) + 1 : 1;\n  reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now(), failed: true, retryCount: crashRetry };\n  staticData.reviewed = reviewed;\n  // inProgress 解除\n  const inProgress = staticData._inProgress || {};\n  delete inProgress[pr._key];\n  staticData._inProgress = inProgress;\n  // 連続失敗カウンター更新\n  staticData._consecutiveFailures = (staticData._consecutiveFailures || 0) + 1;\n  if (staticData._consecutiveFailures >= 3) staticData._pausedAt = Date.now();\n  const crashRetryLabel = crashRetry >= 3 ? '（最終リトライ — 以降スキップ）' : '（リトライ ' + crashRetry + '/3）';\n  return [{ json: {\n    skip: false, isError: true, isReReview,\n    parentText: mention + '❌ PR #' + pr.number + ' ' + pr.title + '\\n📦 ' + pr.repo_name + '  レビュー失敗（クラッシュ）' + crashRetryLabel,\n    linkMsg: '🔗 ' + pr.html_url + '\\n👤 ' + pr.user + '  📦 ' + pr.repo_name + '  🔀 `' + pr.head_ref + '` → `' + pr.base_ref + '`\\n```git checkout ' + pr.head_ref + '```\\nエラー: ' + (rawStdout.substring(0, 200) || 'プロセス異常終了 (exit ' + exitCode + ')'),\n    issueMessages: [], goodMsg: '', manualMsg: '',\n    pr: pr, slackChannel: slackChannel\n  }}];\n}\nconst pr = $('Filter').item.json;\nconst slackChannel = $env.SLACK_CHANNEL || '#code-review';\nconst mentionIds = ($env.SLACK_MENTION || '').split(',').map(s => s.trim()).filter(Boolean);\nconst mention = mentionIds.length > 0 ? mentionIds.map(id => '<@' + id + '>').join(' ') + '\\n' : '';\n\nlet review;\nlet parseSuccess = false;\nlet debugInfo = '';\n\n// stdoutからJSON部分を抽出（git出力等のプレフィックスを除去）\nfunction extractJson(text) {\n  try { return JSON.parse(text); } catch(_) {}\n  const first = text.indexOf('{');\n  const last = text.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try { return JSON.parse(text.substring(first, last + 1)); } catch(_) {}\n  }\n  return null;\n}\n\ntry {\n  const parsed = extractJson(rawStdout);\n  if (!parsed) {\n    debugInfo = 'JSON extraction failed | stdout first 300 chars: ' + rawStdout.substring(0, 300);\n    throw new Error(debugInfo);\n  }\n\n  // review.sh がエラーを返した場合\n  if (parsed.failed) {\n    if (parsed.concurrent) return [];\n    const isReReview = !!reviewed[pr._key];\n    const prevRetry = (reviewed[pr._key] && reviewed[pr._key].failed && reviewed[pr._key].sha === pr.head_sha) ? (reviewed[pr._key].retryCount || 0) : 0;\n    const retryCount = prevRetry + 1;\n    reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now(), failed: true, retryCount };\n    staticData.reviewed = reviewed;\n// レビュー完了: inProgress マーカーを解除\nconst inProgress = staticData._inProgress || {};\ndelete inProgress[pr._key];\nstaticData._inProgress = inProgress;\n  // 連続失敗カウンター更新\n  staticData._consecutiveFailures = (staticData._consecutiveFailures || 0) + 1;\n  if (staticData._consecutiveFailures >= 3) staticData._pausedAt = Date.now();\n    const retryLabel = retryCount >= 3 ? '（最終リトライ — 以降スキップ）' : '（リトライ ' + retryCount + '/3）';\n    return [{ json: {\n      skip: false, isError: true, isReReview,\n      parentText: mention + '❌ PR #' + pr.number + ' ' + pr.title + '\\n📦 ' + pr.repo_name + '  レビュー失敗 ' + retryLabel,\n      linkMsg: '🔗 ' + pr.html_url + '\\n👤 ' + pr.user + '  📦 ' + pr.repo_name + '  🔀 `' + pr.head_ref + '` → `' + pr.base_ref + '`\\n```git checkout ' + pr.head_ref + '```\\nエラー: ' + (parsed.error || '不明なエラー'),\n      issueMessages: [], goodMsg: '', manualMsg: '',\n      pr: pr, slackChannel: slackChannel\n    }}];\n  }\n\n  // Case 1: review.sh が直接レビューJSONを返した場合（summary があるか）\n  if (parsed.summary !== undefined) {\n    review = parsed;\n    parseSuccess = true;\n  }\n  // Case 2: Claude ラッパー JSON（{\"type\":\"result\",\"result\":\"...\"}）の場合\n  else if (parsed.result) {\n    let resultText = parsed.result;\n    // ```json ... ``` ブロックを除去\n    resultText = resultText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n    const inner = extractJson(resultText);\n    if (inner && (inner.summary !== undefined || inner.issues !== undefined)) {\n      review = inner;\n      parseSuccess = true;\n    }\n  }\n\n  if (!parseSuccess) {\n    const text = parsed.result || parsed.summary || rawStdout;\n    review = { summary: text, score: '?', issues: [] };\n    if (text && text.length > 10) parseSuccess = true;\n  }\n} catch (e) {\n  review = { summary: 'レビュー結果のパースに失敗しました。' + (debugInfo || e.message), score: '?', issues: [] };\n  parseSuccess = false;\n}\n\n// 再レビュー判定（reviewed にセットする前に判定）\nconst isReReview = !!reviewed[pr._key];\n\n// パース成功時のみ reviewed にマーク\nlet retryCount = 0;\nif (parseSuccess) {\n  reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now() };\n  staticData._consecutiveFailures = 0;\n  delete staticData._pausedAt;\n} else {\n  const prev = reviewed[pr._key];\n  const prevRetry = (prev && prev.failed && prev.sha === pr.head_sha) ? (prev.retryCount || 0) : 0;\n  retryCount = prevRetry + 1;\n  reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now(), failed: true, retryCount };\n  staticData._consecutiveFailures = (staticData._consecutiveFailures || 0) + 1;\n  if (staticData._consecutiveFailures >= 3) staticData._pausedAt = Date.now();\n}\nstaticData.reviewed = reviewed;\n// レビュー完了: inProgress マーカーを解除\nconst inProgress = staticData._inProgress || {};\ndelete inProgress[pr._key];\nstaticData._inProgress = inProgress;\n\nconst critical = (review.issues || []).filter(i => i.severity === 'Critical');\nconst warning = (review.issues || []).filter(i => i.severity === 'Warning');\n\nconst counts = [];\nif (critical.length) counts.push('🔴' + critical.length);\nif (warning.length) counts.push('🟡' + warning.length);\nconst countStr = counts.length > 0 ? counts.join(' ') : '✅ 問題なし';\n\nconst retryLabel = retryCount > 0 ? (retryCount >= 3 ? ' （最終リトライ — 以降スキップ）' : ' （リトライ ' + retryCount + '/3）') : '';\nconst parentText = mention + '🔍 PR #' + pr.number + ' ' + pr.title + '\\n📦 ' + pr.repo_name + '  📊 Score: ' + (review.score || '?') + '  ' + countStr + retryLabel;\n\n// 概要: summary + change_impact を統合\nlet overview = review.summary || '';\nif (review.change_impact && review.change_impact.description) {\n  overview += '\\n\\n📋 *変更の影響*\\n' + review.change_impact.description;\n  if (review.change_impact.behavioral_changes && review.change_impact.behavioral_changes.length > 0) {\n    overview += '\\n' + review.change_impact.behavioral_changes.map(c => '• ' + c.before + ' → ' + c.after + (c.intentional ? '' : ' ⚠️意図しない変更')).join('\\n');\n  }\n}\nconst linkMsg = '🔗 ' + pr.html_url + '\\n👤 ' + pr.user + '  📦 ' + pr.repo_name + '  🔀 `' + pr.head_ref + '` → `' + pr.base_ref + '`\\n```git checkout ' + pr.head_ref + '```\\n\\n📝 *概要*\\n' + overview;\n\nconst issueMessages = (review.issues || []).map(issue => {\n  const icon = issue.severity === 'Critical' ? '🔴' : '🟡';\n  return icon + ' *' + issue.severity + ' — ' + issue.category + '*\\n📄 `' + issue.file + ':' + issue.line + '`\\n' + issue.description + '\\n💡 `' + issue.suggestion + '`';\n});\n\nlet goodMsg = '';\nif (review.good_points && review.good_points.length > 0) {\n  goodMsg = '✅ *良い点*\\n' + review.good_points.map(p => '• ' + p).join('\\n');\n}\n\nlet manualMsg = '';\nif (review.needs_manual_review) {\n  manualMsg = '⚠️ *手動レビュー推奨*\\n' + (review.manual_review_reason || '');\n}\n\nreturn [{ json: { skip: false, isError: false, isReReview, parentText, linkMsg, issueMessages, goodMsg, manualMsg, pr, slackChannel } }];"
      },
      "name": "ParseResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "SkipCheck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst slackToken = $env.SLACK_BOT_TOKEN || '';\n\nfunction slackGet(method, params) {\n  return new Promise((resolve, reject) => {\n    const query = Object.entries(params).map(([k,v]) => k + '=' + encodeURIComponent(v)).join('&');\n    const req = https.request({\n      hostname: 'slack.com',\n      path: '/api/' + method + '?' + query,\n      method: 'GET',\n      headers: { 'Authorization': 'Bearer ' + slackToken }\n    }, (res) => {\n      let body = '';\n      res.on('data', chunk => body += chunk);\n      res.on('end', () => {\n        try { resolve(JSON.parse(body)); } catch(e) { reject(e); }\n      });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n}\n\nconst data = $input.first().json;\nlet hasThread = false;\nlet threadTs = '';\n\nif (slackToken) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    let channelId = '';\n    if (staticData._slackChannelId && staticData._slackChannelRaw === data.slackChannel) {\n      channelId = staticData._slackChannelId;\n    } else {\n      const ch = data.slackChannel.replace(/^#/, '');\n      const infoResult = await slackGet('conversations.info', { channel: ch });\n      if (infoResult.ok) {\n        channelId = ch;\n      } else {\n        const listResult = await slackGet('conversations.list', { limit: '1000', exclude_archived: 'true', types: 'public_channel,private_channel' });\n        if (listResult.ok) {\n          const found = (listResult.channels || []).find(c => c.name === ch);\n          if (found) channelId = found.id;\n        }\n      }\n      if (channelId) {\n        staticData._slackChannelId = channelId;\n        staticData._slackChannelRaw = data.slackChannel;\n      }\n    }\n\n    if (channelId) {\n      const result = await slackGet('conversations.history', { channel: channelId, limit: '50' });\n      if (result.ok && result.messages) {\n        const prNum = String(data.pr.number);\n        const repoName = data.pr.repo_name;\n        const parent = result.messages.find(m =>\n          m.bot_id && m.text &&\n          m.text.includes('PR #' + prNum) && m.text.includes(repoName) &&\n          !m.text.match(new RegExp('PR #' + prNum + '[0-9]'))\n        );\n        if (parent) {\n          threadTs = parent.ts;\n          hasThread = true;\n        }\n      }\n    }\n  } catch (e) { /* Slack API error */ }\n}\n\nreturn [{ json: { ...data, hasThread, threadTs } }];"
      },
      "name": "CheckThread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst data = $input.first().json;\nconst slackToken = $env.SLACK_BOT_TOKEN;\n\nif (!slackToken) {\n  throw new Error('SLACK_BOT_TOKEN が .env に設定されていません');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst channelId = staticData._slackChannelId || data.slackChannel.replace(/^#/, '');\n\n// --- Slack API ヘルパー ---\nfunction slackPost(method, bodyObj) {\n  return new Promise((resolve, reject) => {\n    const payload = JSON.stringify(bodyObj);\n    const req = https.request({\n      hostname: 'slack.com',\n      path: '/api/' + method,\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + slackToken,\n        'Content-Type': 'application/json; charset=utf-8',\n        'Content-Length': Buffer.byteLength(payload)\n      }\n    }, (res) => {\n      let respBody = '';\n      res.on('data', chunk => respBody += chunk);\n      res.on('end', () => {\n        try {\n          const result = JSON.parse(respBody);\n          if (result.ok) resolve(result);\n          else reject(new Error(result.error || 'unknown'));\n        } catch(e) { reject(e); }\n      });\n    });\n    req.on('error', reject);\n    req.write(payload);\n    req.end();\n  });\n}\n\n// files.uploadV2（3ステップ）でファイルアップロード\nasync function uploadFile(channel, threadTs, filename, content, title) {\n  const contentBuf = Buffer.from(content, 'utf-8');\n\n  // Step 1: アップロードURL取得\n  const step1 = await new Promise((resolve, reject) => {\n    const payload = JSON.stringify({ filename, length: contentBuf.length });\n    const req = https.request({\n      hostname: 'slack.com',\n      path: '/api/files.getUploadURLExternal',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + slackToken,\n        'Content-Type': 'application/json; charset=utf-8',\n        'Content-Length': Buffer.byteLength(payload)\n      }\n    }, (res) => {\n      let respBody = '';\n      res.on('data', chunk => respBody += chunk);\n      res.on('end', () => {\n        try {\n          const result = JSON.parse(respBody);\n          if (result.ok) resolve(result);\n          else reject(new Error('getUploadURL: ' + (result.error || 'unknown')));\n        } catch(e) { reject(e); }\n      });\n    });\n    req.on('error', reject);\n    req.write(payload);\n    req.end();\n  });\n\n  // Step 2: ファイル内容をアップロード\n  const uploadUrl = new URL(step1.upload_url);\n  await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: uploadUrl.hostname,\n      path: uploadUrl.pathname + uploadUrl.search,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/octet-stream',\n        'Content-Length': contentBuf.length\n      }\n    }, (res) => {\n      let respBody = '';\n      res.on('data', chunk => respBody += chunk);\n      res.on('end', () => resolve(respBody));\n    });\n    req.on('error', reject);\n    req.write(contentBuf);\n    req.end();\n  });\n\n  // Step 3: アップロード完了 + チャンネル/スレッドに共有\n  const step3Body = {\n    files: [{ id: step1.file_id, title: title }],\n    channel_id: channel\n  };\n  if (threadTs) step3Body.thread_ts = threadTs;\n  await new Promise((resolve, reject) => {\n    const payload = JSON.stringify(step3Body);\n    const req = https.request({\n      hostname: 'slack.com',\n      path: '/api/files.completeUploadExternal',\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + slackToken,\n        'Content-Type': 'application/json; charset=utf-8',\n        'Content-Length': Buffer.byteLength(payload)\n      }\n    }, (res) => {\n      let respBody = '';\n      res.on('data', chunk => respBody += chunk);\n      res.on('end', () => {\n        try {\n          const result = JSON.parse(respBody);\n          if (result.ok) resolve(result);\n          else reject(new Error('completeUpload: ' + (result.error || 'unknown')));\n        } catch(e) { reject(e); }\n      });\n    });\n    req.on('error', reject);\n    req.write(payload);\n    req.end();\n  });\n}\n\nasync function postWithRetry(method, bodyObj) {\n  for (let attempt = 0; attempt < 3; attempt++) {\n    try {\n      return await slackPost(method, bodyObj);\n    } catch (e) {\n      if (attempt === 2) throw new Error('Slack投稿失敗（3回リトライ後）: ' + e.message);\n      await new Promise(r => setTimeout(r, 1000 * (attempt + 1)));\n    }\n  }\n}\n\nasync function postMsg(channel, text, threadTs) {\n  const body = { channel, text };\n  if (threadTs) body.thread_ts = threadTs;\n  const result = await postWithRetry('chat.postMessage', body);\n  return result.ts;\n}\n\n// --- Markdown 生成 ---\nfunction buildMarkdown() {\n  const pr = data.pr;\n  const lines = [];\n  lines.push('# PR #' + pr.number + ' ' + (pr.title || ''));\n  lines.push('');\n  lines.push('| 項目 | 値 |');\n  lines.push('|---|---|');\n  lines.push('| リポジトリ | ' + (pr.repo_name || '') + ' |');\n  lines.push('| 作成者 | ' + (pr.user || '') + ' |');\n  lines.push('| ブランチ | `' + (pr.head_ref || '') + '` → `' + (pr.base_ref || '') + '` |');\n  lines.push('| URL | ' + (pr.html_url || '') + ' |');\n  lines.push('');\n\n  // 概要（linkMsg からコマンド部分を除いた概要テキストを抽出）\n  const overviewMatch = (data.linkMsg || '').split('📝 *概要*\\n');\n  if (overviewMatch.length > 1) {\n    lines.push('## 概要');\n    lines.push('');\n    lines.push(overviewMatch[1]);\n    lines.push('');\n  }\n\n  // Issues\n  if (data.issueMessages && data.issueMessages.length > 0) {\n    lines.push('## 指摘事項');\n    lines.push('');\n    for (const msg of data.issueMessages) {\n      // Slack mrkdwn → Markdown 変換\n      const md = msg\n        .replace(/^\\u{1F534} \\*Critical/, '### 🔴 Critical')\n        .replace(/^\\u{1F7E1} \\*Warning/, '### 🟡 Warning')\n        .replace(/\\*$/, '')\n        .replace(/\\n📄 `([^`]+)`/, '\\n**ファイル:** `$1`')\n        .replace(/\\n💡 `([^`]+)`/, '\\n\\n**修正案:** `$1`');\n      lines.push(md);\n      lines.push('');\n    }\n  }\n\n  // 良い点\n  if (data.goodMsg) {\n    lines.push('## 良い点');\n    lines.push('');\n    const goodContent = data.goodMsg.replace('✅ *良い点*\\n', '');\n    lines.push(goodContent);\n    lines.push('');\n  }\n\n  // 手動レビュー\n  if (data.manualMsg) {\n    lines.push('## 手動レビュー推奨');\n    lines.push('');\n    const manualContent = data.manualMsg.replace('⚠️ *手動レビュー推奨*\\n', '');\n    lines.push(manualContent);\n    lines.push('');\n  }\n\n  lines.push('---');\n  lines.push('*Generated by Claude Code PR Review*');\n  return lines.join('\\n');\n}\n\n// --- メイン処理 ---\n// スレッド返信用のメッセージ一覧\nconst threadMessages = [];\nthreadMessages.push(data.linkMsg);\nfor (const msg of data.issueMessages) {\n  threadMessages.push(msg);\n}\nif (data.goodMsg) threadMessages.push(data.goodMsg);\nif (data.manualMsg) threadMessages.push(data.manualMsg);\n\nlet parentTs = data.threadTs;\n\ntry {\n  if (data.hasThread && parentTs) {\n    // 既存スレッドに追記\n    const header = data.isReReview\n      ? '\\u{1F504} *再レビュー*\\n' + data.parentText\n      : data.parentText;\n    await postMsg(channelId, header, parentTs);\n    for (const msg of threadMessages) {\n      await postMsg(channelId, msg, parentTs);\n    }\n  } else {\n    // 新規親スレッド作成\n    const parentText = data.isReReview\n      ? '\\u{1F504} *再レビュー*\\n' + data.parentText\n      : data.parentText;\n    parentTs = await postMsg(channelId, parentText, null);\n    for (const msg of threadMessages) {\n      await postMsg(channelId, msg, parentTs);\n    }\n  }\n\n  // Markdown ファイルをスレッドに添付（エラー時はスキップ）\n  if (!data.isError) {\n    try {\n      const md = buildMarkdown();\n      const filename = 'review_PR' + data.pr.number + '.md';\n      await uploadFile(channelId, parentTs, filename, md, 'PR #' + data.pr.number + ' レビュー詳細');\n    } catch (e) {\n      // ファイルアップロード失敗は無視（メッセージは投稿済み）\n    }\n  }\n} catch (e) {\n  throw new Error('Slack投稿中にエラー: ' + e.message + '（一部メッセージは投稿済みの可能性があります）');\n}\n\nreturn [{ json: { success: true, parentTs, channel: channelId } }];"
      },
      "name": "PostToSlack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "RepoList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RepoList": {
      "main": [
        [
          {
            "node": "GitHubAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubAPI": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "PrepareInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareInput": {
      "main": [
        [
          {
            "node": "Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review": {
      "main": [
        [
          {
            "node": "ParseResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseResult": {
      "main": [
        [
          {
            "node": "SkipCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SkipCheck": {
      "main": [
        [
          {
            "node": "CheckThread",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CheckThread": {
      "main": [
        [
          {
            "node": "PostToSlack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}