n8n/workflow.json
{
  "name": "Claude Code PR Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "#3対策: 静的な値を使用。変更する場合はここを手動で編集"
    },
    {
      "parameters": {
        "jsCode": "const repos = ($env.GITHUB_REPOS || '').split(',').map(r => r.trim()).filter(Boolean);\nif (repos.length === 0) return [];\nreturn repos.map(repo => ({ json: { repo } }));"
      },
      "name": "RepoList",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/pulls?state=open&sort=updated&direction=desc&per_page=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "name": "GitHubAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GITHUB_CREDENTIAL_ID",
          "name": "GitHub Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Draft除外 + レビュアーフィルタ + 重複防止 + tracked管理\n\nconst staticData = $getWorkflowStaticData('global');\nconst reviewed = staticData.reviewed || {};\nconst tracked = staticData.tracked || {};\nconst threads = staticData.threads || {};\nconst newPRs = [];\n\nconst targetReviewers = ($env.GITHUB_REVIEWERS || '').split(',').map(r => r.trim()).filter(Boolean);\nconst targetTeams = ($env.GITHUB_TEAMS || '').split(',').map(t => t.trim()).filter(Boolean);\n\n// #4対策: 今回のポーリングで見えたPRキーを記録\nconst seenKeys = new Set();\n// #12対策: 正常にAPIレスポンスを得たリポジトリを記録\nconst successRepos = new Set();\n\nfor (const item of $input.all()) {\n  const prs = Array.isArray(item.json) ? item.json : [item.json];\n\n  // APIエラーの場合はスキップ（prにnumberやheadがないのはエラーレスポンス）\n  let repoHasValidPR = false;\n\n  for (const pr of prs) {\n    if (!pr.number || !pr.head) continue;\n    repoHasValidPR = true;\n\n    const key = pr.base.repo.full_name + '#' + pr.number;\n    seenKeys.add(key);\n    successRepos.add(pr.base.repo.full_name);\n\n    if (pr.draft) continue;\n\n    const headSha = pr.head.sha;\n    const reviewers = (pr.requested_reviewers || []).map(r => r.login);\n    const teams = (pr.requested_teams || []).map(t => t.slug);\n    const noFilter = targetReviewers.length === 0 && targetTeams.length === 0;\n    const matchUser = targetReviewers.some(t => reviewers.includes(t));\n    const matchTeam = targetTeams.some(t => teams.includes(t));\n    const isAuthor = targetReviewers.includes(pr.user.login);\n    const isTracked = tracked[key] === true;\n\n    if (!noFilter && !matchUser && !matchTeam && !isAuthor && !isTracked) continue;\n    if (matchUser || matchTeam || isAuthor) tracked[key] = true;\n    // reviewed: sha文字列 or {sha,ts}オブジェクト両対応\n    const rev = reviewed[key];\n    const revSha = (rev && typeof rev === 'object') ? rev.sha : rev;\n    // 同じSHAならスキップ（失敗リトライ中で上限未満の場合は通過）\n    if (revSha === headSha) {\n      if (!(rev && rev.failed && (rev.retryCount || 0) < 3)) continue;\n    }\n\n    newPRs.push({ json: {\n      number: pr.number, title: pr.title, body: pr.body || '',\n      head_ref: pr.head.ref, base_ref: pr.base.ref,\n      head_sha: headSha, repo_name: pr.base.repo.name,\n      repo_full_name: pr.base.repo.full_name,\n      html_url: pr.html_url, user: pr.user.login,\n      _key: key\n    }});\n  }\n}\n\n// #4 + #12対策: tracked/reviewed/threads からクローズ済みPRを削除\n// ただし、正常にAPIレスポンスを得たリポのPRのみ対象\n// APIエラーのリポのPRは消さない（再レビュー暴走を防止）\nfor (const key of Object.keys(tracked)) {\n  const repoName = key.split('#')[0];\n  if (successRepos.has(repoName) && !seenKeys.has(key)) {\n    delete tracked[key];\n    delete reviewed[key];\n    delete threads[key];\n  }\n}\n\nstaticData.reviewed = reviewed;\nstaticData.tracked = tracked;\nstaticData.threads = threads;\nif (newPRs.length === 0) return [];\nreturn newPRs;"
      },
      "name": "Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// #1対策: base64エンコードでシェルインジェクション防止\nconst pr = $input.first().json;\nconst payload = {\n  repo_name: pr.repo_name,\n  head_ref: pr.head_ref,\n  base_ref: pr.base_ref,\n  title: pr.title,\n  body: pr.body,\n  number: String(pr.number),\n  _key: pr._key,\n  head_sha: pr.head_sha,\n  html_url: pr.html_url,\n  user: pr.user\n};\nconst encoded = Buffer.from(JSON.stringify(payload)).toString('base64');\nreturn [{ json: { ...pr, encoded } }];"
      },
      "name": "PrepareInput",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Claude Code でレビュー実行（非同期 - ワーカーブロック回避）\nconst { exec } = require('child_process');\nconst encoded = $input.first().json.encoded;\n\nreturn new Promise((resolve) => {\n  const child = exec(\n    `docker exec claude-review-runner bash /scripts/review.sh \"${encoded}\"`,\n    { timeout: 960000, maxBuffer: 10 * 1024 * 1024, encoding: 'utf-8' },\n    (error, stdout, stderr) => {\n      if (error) {\n        resolve([{ json: { stdout: stdout || error.message, exitCode: error.code || 1 } }]);\n      } else {\n        resolve([{ json: { stdout: stdout, exitCode: 0 } }]);\n      }\n    }\n  );\n});"
      },
      "name": "Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// レビュー成功時のみ reviewed にマーク + 既存スレッド検索\nconst staticData = $getWorkflowStaticData('global');\nconst reviewed = staticData.reviewed || {};\nconst threads = staticData.threads || {};\n\nconst rawStdout = ($input.first().json.stdout || '').trim();\nconst exitCode = $input.first().json.exitCode;\nconst pr = $('Filter').item.json;\nconst slackChannel = $env.SLACK_CHANNEL || '#code-review';\n\nlet review;\nlet parseSuccess = false;\nlet debugInfo = '';\n\n// stdoutからJSON部分を抽出（git出力等のプレフィックスを除去）\nfunction extractJson(text) {\n  try { return JSON.parse(text); } catch(_) {}\n  const first = text.indexOf('{');\n  const last = text.lastIndexOf('}');\n  if (first >= 0 && last > first) {\n    try { return JSON.parse(text.substring(first, last + 1)); } catch(_) {}\n  }\n  return null;\n}\n\ntry {\n  const parsed = extractJson(rawStdout);\n  if (!parsed) {\n    debugInfo = 'JSON extraction failed | stdout first 300 chars: ' + rawStdout.substring(0, 300);\n    throw new Error(debugInfo);\n  }\n\n  // review.sh がエラーを返した場合\n  if (parsed.failed) {\n    if (parsed.concurrent) return [];\n    const isReReview = !!reviewed[pr._key];\n    const prevRetry = (reviewed[pr._key] && reviewed[pr._key].failed && reviewed[pr._key].sha === pr.head_sha) ? (reviewed[pr._key].retryCount || 0) : 0;\n    const retryCount = prevRetry + 1;\n    reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now(), failed: true, retryCount };\n    staticData.reviewed = reviewed;\n    const retryLabel = retryCount >= 3 ? '（最終リトライ — 以降スキップ）' : '（リトライ ' + retryCount + '/3）';\n    return [{ json: {\n      skip: false, isError: true, isReReview,\n      parentText: '❌ PR #' + pr.number + ' ' + pr.title + '  レビュー失敗 ' + retryLabel,\n      linkMsg: '🔗 ' + pr.html_url + '\\nエラー: ' + (parsed.error || '不明なエラー'),\n      issueMessages: [], goodMsg: '', manualMsg: '',\n      switchCmd: '💻 *手動確認コマンド*\\n```cd ~/Develop/' + pr.repo_name + ' && git checkout ' + pr.head_ref + ' && claude```',\n      pr: pr, slackChannel: slackChannel\n    }}];\n  }\n\n  // Case 1: review.sh が直接レビューJSONを返した場合（summary があるか）\n  if (parsed.summary !== undefined) {\n    review = parsed;\n    parseSuccess = true;\n  }\n  // Case 2: Claude ラッパー JSON（{\"type\":\"result\",\"result\":\"...\"}）の場合\n  else if (parsed.result) {\n    let resultText = parsed.result;\n    // ```json ... ``` ブロックを除去\n    resultText = resultText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '');\n    const inner = extractJson(resultText);\n    if (inner && (inner.summary !== undefined || inner.issues !== undefined)) {\n      review = inner;\n      parseSuccess = true;\n    }\n  }\n\n  if (!parseSuccess) {\n    const text = parsed.result || parsed.summary || rawStdout;\n    review = { summary: text, score: '?', issues: [] };\n    if (text && text.length > 10) parseSuccess = true;\n  }\n} catch (e) {\n  review = { summary: 'レビュー結果のパースに失敗しました。' + (debugInfo || e.message), score: '?', issues: [] };\n  parseSuccess = false;\n}\n\n// 再レビュー判定（reviewed にセットする前に判定）\nconst isReReview = !!reviewed[pr._key];\n\n// パース成功時のみ reviewed にマーク\nlet retryCount = 0;\nif (parseSuccess) {\n  reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now() };\n} else {\n  const prev = reviewed[pr._key];\n  const prevRetry = (prev && prev.failed && prev.sha === pr.head_sha) ? (prev.retryCount || 0) : 0;\n  retryCount = prevRetry + 1;\n  reviewed[pr._key] = { sha: pr.head_sha, ts: Date.now(), failed: true, retryCount };\n}\nstaticData.reviewed = reviewed;\n\nconst critical = (review.issues || []).filter(i => i.severity === 'Critical');\nconst warning = (review.issues || []).filter(i => i.severity === 'Warning');\nconst info = (review.issues || []).filter(i => i.severity === 'Info');\n\nconst counts = [];\nif (critical.length) counts.push('🔴' + critical.length);\nif (warning.length) counts.push('🟡' + warning.length);\nif (info.length) counts.push('🔵' + info.length);\nconst countStr = counts.length > 0 ? counts.join(' ') : '✅ 問題なし';\n\nconst retryLabel = retryCount > 0 ? (retryCount >= 3 ? ' （最終リトライ — 以降スキップ）' : ' （リトライ ' + retryCount + '/3）') : '';\nconst parentText = '🔍 PR #' + pr.number + ' ' + pr.title + '\\n📊 Score: ' + (review.score || '?') + '  ' + countStr + retryLabel;\nconst linkMsg = '🔗 ' + pr.html_url + '\\n👤 ' + pr.user + '  `' + pr.head_ref + '` → `' + pr.base_ref + '`\\n\\n📝 *サマリー*\\n' + (review.summary || '');\n\nconst issueMessages = (review.issues || []).map(issue => {\n  const icon = issue.severity === 'Critical' ? '🔴' : issue.severity === 'Warning' ? '🟡' : '🔵';\n  return icon + ' *' + issue.severity + ' — ' + issue.category + '*\\n📄 `' + issue.file + ':' + issue.line + '`\\n' + issue.description + '\\n💡 `' + issue.suggestion + '`';\n});\n\nlet goodMsg = '';\nif (review.good_points && review.good_points.length > 0) {\n  goodMsg = '✅ *良い点*\\n' + review.good_points.map(p => '• ' + p).join('\\n');\n}\n\nlet manualMsg = '';\nif (review.needs_manual_review) {\n  manualMsg = '⚠️ *手動レビュー推奨*\\n' + (review.manual_review_reason || '');\n}\n\nconst switchCmd = '💻 *手動確認コマンド*\\n```cd ~/Develop/' + pr.repo_name + ' && git checkout ' + pr.head_ref + ' && claude```';\n\nreturn [{ json: { skip: false, isError: false, isReReview, parentText, linkMsg, issueMessages, goodMsg, manualMsg, switchCmd, pr, slackChannel } }];"
      },
      "name": "ParseResult",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "SkipCheck",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// staticDataからスレッド情報を取得し、データを準備\nconst staticData = $getWorkflowStaticData('global');\nconst threads = staticData.threads || {};\nconst data = $input.first().json;\nconst threadTs = threads[data.pr._key];\nconst hasThread = !!(threadTs && typeof threadTs === 'string' && threadTs.includes('.'));\n\n// 新規親メッセージ作成時のメンション・ラベル付与\nlet parentText = data.parentText;\nif (!hasThread) {\n  const mentionIds = ($env.SLACK_MENTION || '').split(',').map(s => s.trim()).filter(Boolean);\n  const mention = mentionIds.length > 0 ? mentionIds.map(id => '<@' + id + '>').join(' ') : '';\n  if (data.isReReview) {\n    parentText = '🔄 *再レビュー* ' + mention + '\\n' + data.parentText;\n  } else if (mention) {\n    parentText = data.parentText + '\\n' + mention;\n  }\n}\n\nreturn [{ json: { ...data, hasThread, threadTs: threadTs || '', parentText } }];"
      },
      "name": "CheckThread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasThread }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "HasThread",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 既存スレッドへの再レビュー追記（メンション付き）\nconst data = $input.first().json;\nconst parentTs = data.threadTs;\nconst messages = [];\n\nconst mentionIds = ($env.SLACK_MENTION || '').split(',').map(s => s.trim()).filter(Boolean);\nconst mention = mentionIds.length > 0 ? mentionIds.map(id => '<@' + id + '>').join(' ') : '';\nconst header = '🔄 *再レビュー* ' + mention + '\\n' + data.parentText;\nmessages.push({ text: header, ts: parentTs, channel: data.slackChannel });\nmessages.push({ text: data.linkMsg, ts: parentTs, channel: data.slackChannel });\nfor (const msg of data.issueMessages) {\n  messages.push({ text: msg, ts: parentTs, channel: data.slackChannel });\n}\nif (data.goodMsg) messages.push({ text: data.goodMsg, ts: parentTs, channel: data.slackChannel });\nif (data.manualMsg) messages.push({ text: data.manualMsg, ts: parentTs, channel: data.slackChannel });\nif (data.switchCmd) messages.push({ text: data.switchCmd, ts: parentTs, channel: data.slackChannel });\n\nreturn messages.map(m => ({ json: m }));"
      },
      "name": "ReReviewMessages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.slackChannel }}",
        "text": "={{ $json.parentText }}",
        "otherOptions": {}
      },
      "name": "SlackParent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1980,
        160
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// SlackParentのtsを保存し、スレッド返信メッセージを生成\nconst staticData = $getWorkflowStaticData('global');\nconst threads = staticData.threads || {};\nconst data = $('ParseResult').item.json;\nconst parentTs = $input.first().json.message_timestamp;\n\n// スレッドtsを保存\nthreads[data.pr._key] = parentTs;\nstaticData.threads = threads;\n\nconst messages = [];\nmessages.push({ text: data.linkMsg, ts: parentTs, channel: data.slackChannel });\nfor (const msg of data.issueMessages) {\n  messages.push({ text: msg, ts: parentTs, channel: data.slackChannel });\n}\nif (data.goodMsg) messages.push({ text: data.goodMsg, ts: parentTs, channel: data.slackChannel });\nif (data.manualMsg) messages.push({ text: data.manualMsg, ts: parentTs, channel: data.slackChannel });\nif (data.switchCmd) messages.push({ text: data.switchCmd, ts: parentTs, channel: data.slackChannel });\n\nif (messages.length === 0) {\n  messages.push({ text: '✅ 問題なし', ts: parentTs, channel: data.slackChannel });\n}\n\nreturn messages.map(m => ({ json: m }));"
      },
      "name": "ThreadMessages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.text }}",
        "otherOptions": {
          "thread_ts": "={{ $json.ts }}"
        }
      },
      "name": "SlackThread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2420,
        0
      ],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "RepoList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RepoList": {
      "main": [
        [
          {
            "node": "GitHubAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubAPI": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "PrepareInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareInput": {
      "main": [
        [
          {
            "node": "Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review": {
      "main": [
        [
          {
            "node": "ParseResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseResult": {
      "main": [
        [
          {
            "node": "SkipCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SkipCheck": {
      "main": [
        [
          {
            "node": "CheckThread",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "CheckThread": {
      "main": [
        [
          {
            "node": "HasThread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HasThread": {
      "main": [
        [
          {
            "node": "ReReviewMessages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SlackParent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReReviewMessages": {
      "main": [
        [
          {
            "node": "SlackThread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SlackParent": {
      "main": [
        [
          {
            "node": "ThreadMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ThreadMessages": {
      "main": [
        [
          {
            "node": "SlackThread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
